<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Spring Demo</title>
  </head>
  <body>
    <h1>Author List</h1>

    <div th:each="author : ${authors}">
      <div class="card w-75 align-center">
        <div class="card-body">
          <h5 class="card-title" th:text="${author.id}">Card title</h5>
          <p class="card-text" th:text="${author.firstName}">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary" th:text="${author.lastName}"
            >Button</a
          >
        </div>
      </div>
    </div>

    <!-- <div class="card" style="width: 18rem;" th:each="book : ${books}">
      <div class="card-header">
        ID, Title and Publisher
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text="${book.id}">123</li>
          <li class="list-group-item" th:text="${book.title}">
            Spring In Action
          </li>
          <li class="list-group-item" th:text="${book.publisher.name}">Wrox</li>
        </ul>
      </div>
    </div> -->
  </body>
</html>
