<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Spring Demo</title>
  </head>
  <body>
    <h1>Book List</h1>

    <div th:each="book : ${books}">
      <div class="card w-75 align-center">
        <div class="card-body">
          <h5 class="card-title" th:text="${book.id}">Card title</h5>
          <p class="card-text" th:text="${book.title}">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary" th:text="${book.publisher.name}"
            >Button</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
